<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hack404</title>
    <meta name="description" content="Hack not found">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="tags" content="hack404,HACK404,punchit.io,404Labs,hackathon in gandhinagar,hackathon in 2016"/>
    <meta name="google-site-verification" content="To2pd4HnWxohIHTA-cl3LiBbz0trxira48hznkuh-5g" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/stylesheets/master.css">
</head>
<body>
    <!-- Site -->
    <div class="site">
        <!-- Main -->
        <div class="main">
            <!-- Main Section -->
            <div class="main-section section" data-section="true" id="main-section">
                <!-- Hero -->
                <div class="hero">
                    <!-- Header -->
                    <div class="header">
                        <!-- Container -->
                        <div class="container">
                            <!-- Row -->
                            <div class="clearfix">
                                <div class="brand-logo clearfix">
                                    <a href="index.htm" class="animated zoomIn logo"><img src="assets/images/logo.png" class="img-responsive" alt="Digital India Hackathon"></a>
                                </div>
                                <!--Nav-Toggle-->
                                <a class="btn btn-default pull-right nav-toggle hidden-lg hidden-md"><i class="icon icon-reorder"></i></a>
                                <!--End: Nav-Toggle-->
                                <!-- Header Nav -->
                                <div class="header-nav pull-right animated slideInRight visible-lg visible-md">
                                    <!-- Nav Main -->
                                    <ul class="nav nav-main">
                                        <li>
                                            <a href="#main-section">Home</a>
                                        </li>
                                        <li>
                                            <a href="#about-section">About</a>
                                        </li>
                                        <li>
                                            <a href="#sponsors-section">Sponsors</a>
                                        </li>
                                        <li>
                                            <a href="#schedule-section">Schedule</a>
                                        </li>
                                        <li>
                                            <a href="#venue-details">Contact us</a>
                                        </li>
                                       
                                    </ul>
                                    <!-- End: Nav Main -->
                                </div>
                                <!-- End: Header Nav -->
                            </div>
                            <!-- End: Row -->
                        </div>
                        <!-- End: Container -->
                    </div>
                    <!-- End: Header -->
                    <!-- Intro -->
                    <div class="intro">
                        <!-- Container -->
                        <div class="container">
                            <!-- Intro Box -->
                            <div class="intro-box">
                                <!-- Intro Main -->
                                <h1 class="intro-main animated fadeInUp">Have an Idea, Dive-in to Code</h1>
                                <!-- End: Intro Main -->
                                <!-- Intro Tagline -->
                                <h2 class="intro-tagline animated fadeInUp">
                                    If you are student,faculty,Startup founder,Idea genrator or just a novice this place is for you. Brainstorming workshops, Mindblowing mentors and many more.
                                </h2>
                                <!-- End: Intro Tagline -->
                                <!-- Intro Dates -->
                                <div class="intro-dates animated fadeInUp">
                                     5TH - 6TH March 2k16 @ SVBIT
                                </div>
                                <!-- End: Intro Dates -->
                                <!-- Intro CTA -->
                                <div class="intro-cta animated fadeInUp">
                                    <a href="https://docs.google.com/forms/d/1gKyapv6TMC3xkS0ccgjQCik-HZQUG4CoUEcTD_o-CIs/viewform" class="btn btn-success btn-lg animated tada">Register Now</a>
                                </div>
                                <!-- End: Intro CTA -->
                                <!-- Intro Extra --><br>
                                
     <a href="#"><img src="assets/images/fb.jpg">&nbsp;&nbsp;&nbsp;&nbsp;</a><a href="#"><img src="assets/images/tw.jpg"></a>                           
                                
                                 
                                <!-- End: Intro Extra -->
                            </div>
                            <!-- End: Intro Box -->
                        </div>
                        <!-- End: Container -->
                    </div>
                    <!-- End: Intro -->
                </div>
                <!-- End: Hero -->
            </div>
            <!-- End: Main Section -->
            <!-- About Section -->
            <div class="about-section section" data-section="true" id="about-section">
                <!-- Container -->
                <div class="container">
                    <!-- Section Title -->
                    <h3 class="section-title" align="center">About Hack404</h3>
                    <h2> What is a Hackthon?</h2>
                    <p>Hackthon is a all about team work. Idea generators and coders collaborate to make their idea in to a promising product
                        at the end of hackthon Idea is pitched to the mentors which are further converted to startups.
                        
                     <h2>I'm a novice, is this hackthon for me?</h2>
                     <p>Yes, beside coding there are various workshops, events and marvellous mentors to help you out in boosting up.</p>
                     
                    <h2>Whar is Hack404?</h2>
                    <p>It is a 30 hours hackthon in which, teams have to work on their product each team consist of maximum three members. At last ideas are pitched to the mentors 
                        best ideas will be taked up for investment and incubation.</p>
                </div>
                <!-- Container -->
            </div>
            <!-- Sponsors Section -->
            <div class="sponsors-section section" data-section="true" id="sponsors-section">
                <!-- Container -->
                <div class="container">
                    <!-- Section Title -->
                    <h3 class="section-title" align="center">Sponsors</h3>
                    <!-- Sponsor List -->
                    <div class="sponsor-list row">
                        <h1 align="center"><b>Coming Soon!!!</b></h1>
                        <h3 align="center">Intrested to be our sponsor, mail us at </h3>
                        </div>
                    </div>
                    <!-- End: Sponsor List -->
                </div>
                <!-- End: Container -->
            </div>
            <!-- End: Sponsors Section -->
            <!-- Schedule Section -->
            <div class="schedule-section section" data-section="true" id="schedule-section">
                <!-- Container -->
                <div class="container">
                    <!-- Section Title -->
                    <h3 class="section-title" align="center">Schedule</h3>
                    <!-- Schedule Tables -->
                    <div class="schedule-tables">
                        <!-- Row -->
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <!-- Schedule Day One -->
                                <div class="schedule-day-one schedule-table">
                                    <!-- Schedule Heading -->
                                    <h4 class="schedule-heading">Day 1 - Thursday, 25th Feb</h4>
                                    <!-- Schedule Blocks -->
                                    <div class="schedule-blocks">
                                        <div class="schedule">
                                            <span class="time">8:00 AM</span>
                                            <span class="title">Registration</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">08:30 AM</span>
                                            <span class="title">Kickoff and icebreakers (Tea/Coffee/Snacks)</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">9:00 AM</span>
                                            <span class="title">Let The Hacking Began</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">11:30 AM</span>
                                            <span class="title">Opening Remark (Mobile Knowledge Bank/Hackathon Challenges/Quiz)</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">01:00 PM</span>
                                            <span class="title">Lunch Break</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">02:30 PM</span>
                                            <span class="title">Workshop/Small Talks</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">03:30 PM</span>
                                            <span class="title">Introduction to API Integration Team</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">05:00 PM</span>
                                            <span class="title">Tea Break</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">08:00 PM</span>
                                            <span class="title">Dinner</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">09:00 PM</span>
                                            <span class="title">Coding Puzzles</span>
                                        </div>
                                    </div>
                                    <!-- End: Schedule Blocks -->
                                </div>
                                <!-- End: Schedule Day One -->
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <!-- Schedule Day Two -->
                                <div class="schedule-day-two schedule-table">
                                    <!-- Schedule Heading -->
                                    <h4 class="schedule-heading">Day 2 - Friday, 26th Feb</h4>
                                    <!-- Schedule Blocks -->
                                    <div class="schedule-blocks">
                                        <div class="schedule">
                                            <span class="time">01:00 AM</span>
                                            <span class="title">Night Tea/Coffee/Snacks</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">08:00</span>
                                            <span class="title">Morning Tea/Coffee/Snacks</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">01:00 PM</span>
                                            <span class="title">Dinner</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">02:30 PM</span>
                                            <span class="title">Demo Session</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">05:00 PM</span>
                                            <span class="title">Tea/Coffee</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">05:30 PM</span>
                                            <span class="title">End-Developing</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">07:00 PM</span>
                                            <span class="title">Prize Distrubation Ceremony</span>
                                        </div>
                                    </div>
                                    <!-- End: Schedule Blocks -->
                                </div>
                                <!-- End: Schedule Day Two -->
                            </div>
                        </div>
                        <!-- Row -->
                    </div>
                    <!-- End: Schedule Tables -->
                    <!-- Venue Details -->
                     <div class="venue-details section" data-section="true" id="venue-details">
                    <div class="venue-details">
                        <!-- Row -->
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14655.98024226453!2d72.643232!3d23.315938!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x43c0b91e63f6cb38!2sShankersinh+Vaghela+Bapu+Institute+of+Technology!5e0!3m2!1sen!2sus!4v1454653985457" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    <i class="icon icon-map-marker icon-left"></i>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <!-- Venue Address -->
                                <div class="venue-address">
                                    <!-- Title -->
                                    <h3 class="title">Venue</h3>
                                    <!-- Address -->
                                    <div class="address">
                                        College : Shankersinh Vaghela Bapu Institute of Technology
                                        Gandhinagar-Mansa Road, PO. Vasan, Gandhinagar  District, Gujarat, Pin:382650.
                                    </div>
                                    <!-- Map Link -->
                                     <a href="https://www.google.com/maps/place/Shankersinh+Vaghela+Bapu+Institute+of+Technology/@23.315938,72.643232,15z/data=!4m2!3m1!1s0x0:0x43c0b91e63f6cb38?hl=en-US" target="_blank" style="color:#fff">View on Google Maps</a>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- Row -->
                    </div>
                    <!-- End: Venue Details -->
                </div>
                <!-- End: Container -->
            </div>
            <!-- End: Schedule Section -->
            
            <!-- Footer -->
            <div class="footer">
                <!-- Container -->
                <div class="container">
                    <!-- Row -->
                    <div class="row">
                        
                            <h2 align="center">Designed with<img src="assets/images/heart.png">at Punchit</h2>
                        
                        
                    </div>
                    <!-- End: Row -->
                </div>
                <!-- End: Container -->
            </div>
            <!-- End: Footer -->
        </div>
        <!-- End: Main -->
    </div>
    <!-- End: Site -->
    <div class="overlay"></div>
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="assets/javascripts/master.js"></script>
</body>
</html>
