<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <link rel="icon" href="favicon.png" sizes="16x16" type="image/png">
    <title>Hack#404</title>
    <meta name="description" content="Hack not found.. lolz!30hrs. Coding Hackathon.Organized By Punchit.io Family and SVBIT College, Vasan.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/stylesheets/master.css">
     <link rel="stylesheet" href="lib/stylesheets/bootstrap/_navbar.scss">
</head>
<body>
    <!-- Site -->
    <div class="site">
        <!-- Main -->
        <div class="main">
            <!-- Main Section -->
            <div class="main-section section" data-section="true" id="main-section">
                <!-- Hero -->
                <div class="hero" style="padding: 84px 0;">
                    <!-- Header -->
                    <div class="header">
                        <!-- Container -->
                        <div class="container">
                            <!-- Row -->
                            <div class="clearfix">
                                <div class="brand-logo clearfix">
                                    <a href="index.htm" class="animated zoomIn logo"><img src="assets/images/logo.png" class="img-responsive" alt="Digital India Hackathon" style="5px 4px 17px rgba(236, 236, 236, 0.1)"></a>
                                </div>
                                <!--Nav-Toggle-->
                                
                                <!--End: Nav-Toggle-->
                               
                            </div>
                            <!-- End: Row -->
                        </div>
                        <!-- End: Container -->
                    </div>
                    <!-- End: Header -->
                    <!-- Intro -->
                    <div class="intro">
                        <!-- Container -->
                        <div class="container">
                            <!-- Intro Box -->
                            <div class="intro-box">
                                <!-- Intro Main -->
                                <h1 class="intro-main animated fadeInUp">Where Ideas Converts Into Code !</h1>
                                <!-- End: Intro Main -->
                                <!-- Intro Tagline -->
                                <h2 class="intro-tagline animated fadeInUp">
                                   CCD (<b>C</b>offee, <b>C</b>oding & <b>D</b>esign)
                                </h2>
                                <!-- End: Intro Tagline -->
                                <!-- Intro Dates -->
                                <div class="intro-dates animated fadeInUp">
                                     5TH - 6TH March 2k16 @ SVBIT
                                </div>
                                <!-- End: Intro Dates -->
                                <!-- Intro CTA -->
                                <div class="intro-cta animated fadeInUp">
                                    <a href="http://goo.gl/forms/rdR5I9hjlz" target="_blank" class="btn btn-success btn-lg animated tada">Register Now</a>
                                </div>
                                <!-- End: Intro CTA -->
                                <!-- Intro Extra --><br>
                                
     <a href="https://www.facebook.com/hack404.punchit/" target="_blank"><img src="assets/images/fb.jpg">&nbsp;&nbsp;&nbsp;&nbsp;</a><a href="https://twitter.com/hack404_punchit" target="_blank"><img src="assets/images/tw.jpg"></a>                           
                                
                                 
                                <!-- End: Intro Extra -->
                            </div>
                            <!-- End: Intro Box -->
                        </div>
                        <!-- End: Container -->
                    </div>
                    <!-- End: Intro -->
                </div>
                <!-- End: Hero -->
            </div>
            <!-- End: Main Section -->
            <!-- About Section -->
            <div class="about-section section" data-section="true" id="about-section">
                <!-- Container -->
                <div class="container">
                    <!-- Section Title -->
                    <h3 class="section-title" align="center">About Hack#404</h3>
                    <h2> What is a Hackthon?</h2>
                    <p>A Hackathon is a collaboration of programmers and designers to code, design and build innovative solutions to real life problems, through extensive coding in a short time duration. Hackathons are the biggest thing to happen to education since the rise of the Internet. See this for a good explanation.<br><b>Your only constraint is: You only have 30 hours.</b> </p>

                     <h2>I'm a novice, is this hackthon for me?</h2>
                     <p>Yes, beside coding there are various workshops, events and marvellous mentors to help you out in boosting up. Whether you're making your first website, hacking Oculus Rift to censor real world ads, or creating something fun; Hack#404 is for you. We will allow you to show your coding skills without getting worried about any mortal needs. We will take care of everything.</p>
                     
                    <h2>Hack#404</h2>
                    <p>It is a 30 hours hackthon in which, teams have to work on their product each team consist of maximum three members(Under 24). At last ideas are pitched to the mentors best ideas will be taked up for investment and incubation.</p>
                </div>
                <!-- Container -->
            </div>
            <!-- Sponsors Section -->
            <div class="sponsors-section section" data-section="true" id="sponsors-section">
                <!-- Container -->
                <div class="container">
                    <!-- Section Title -->
                    <h3 class="section-title" align="center">Sponsors</h3>
                    <!-- Sponsor List -->
                   <div class="container">
    <div class="row ">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <h2 style="text-decoration: underline;">Incubation Partner</h2>
            <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xft1/v/t1.0-9/12004837_489446721215726_3959380593714122722_n.jpg?oh=2f706aca4402ecfebafcccb91e6d3739&oe=572FCE0A&__gda__=1462824576_3075e277c533652f6a4a03b69f4f961b">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <h2 style="text-decoration: underline;">Technology Partner</h2>
            <img src="http://3.bp.blogspot.com/-NupDAt6SQEU/UHZuVFekO2I/AAAAAAAAAEI/tvG6MomMCak/s1600/GDG_Gandhinagar.jpg" width="70%"><br><br>
            <img src="https://login.salesforce.com/img/logo198.png" width="70%">
            <img src="http://2.bp.blogspot.com/-cSIzcMCQHR8/VjqPIFFRHMI/AAAAAAAAAiE/zwbtNfn7P8c/s1600-r/CCS%2BPLUS%2BNAME.png" width="70%">
            <img src="assets/images/sponsors/bk.png" width="70%">
            <a href="https://developer.clarifai.com"><img src="https://developer.clarifai.com/static/images/clarifai-developers@2x.png" width="70%"></a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <h2 style="text-decoration: underline;">Associated With</h2>
            <img src="http://www.gandhinagarportal.com/wp-content/uploads/2014/01/GMC_-logo_gandhinagarportal.jpg">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="margin-top:2px">
        <h2 style="text-decoration: underline;">Platform Sponsors</h2>
            <img src="assets/images/sponsors/is.png" width="70%">
        </div>
    </div>
    <!-- <div class="row">-->
        
     
    <!--</div>-->


</div>
                    <!-- End: Sponsor List -->
                </div>
                <!-- End: Container -->
            </div>
            <!-- End: Sponsors Section -->



            <!-- Sponsors Section -->
            <div class="sponsors-section section" data-section="true" id="sponsors-section">
                <!-- Container -->
                <div class="container">
                    <!-- Section Title -->
                    <h3 class="section-title" align="center">Prizes & Swags</h3>
                    <!-- Sponsor List -->
                   <div class="container">
    <div class="row">
        <center><h2>Surprise will be come soon...</h2></center>
    </div>
</div>
                    <!-- End: Sponsor List -->
                </div>
                <!-- End: Container -->
            </div>



            <!-- Schedule Section -->
            <div class="schedule-section section" data-section="true" id="schedule-section">
                <!-- Container -->
                <div class="container">
                    <!-- Section Title -->
                    <h3 class="section-title" align="center">Schedule</h3>
                    <!-- Schedule Tables -->
                    <div class="schedule-tables">
                        <!-- Row -->
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <!-- Schedule Day One -->
                                <div class="schedule-day-one schedule-table">
                                    <!-- Schedule Heading -->
                                    <h4 class="schedule-heading">Day 1 - Saturday, 5th March</h4>
                                    <!-- Schedule Blocks -->
                                    <div class="schedule-blocks">                                        
                                        <div class="schedule">
                                            <span class="time">8:00 AM</span>
                                            <span class="title">Registration</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">08:30 AM</span>
                                            <span class="title">Tea/Coffee/Snacks</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">9:00 AM</span>
                                            <span class="title">Let The Hacking Began</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">11:30 AM</span>
                                            <span class="title">Opening Remark (Mobile Knowledge Bank/Hackathon Challenges/Quiz)</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">01:00 PM</span>
                                            <span class="title">Lunch Break</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">02:30 PM</span>
                                            <span class="title">Workshop/Small Talks</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">03:30 PM</span>
                                            <span class="title">Introduction to API Integration Team</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">05:00 PM</span>
                                            <span class="title">Tea Break</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">08:00 PM</span>
                                            <span class="title">Dinner</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">09:00 PM</span>
                                            <span class="title">Coding Puzzles</span>
                                        </div>
                                    </div>
                                    <!-- End: Schedule Blocks -->
                                </div>
                                <!-- End: Schedule Day One -->
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <!-- Schedule Day Two -->
                                <div class="schedule-day-two schedule-table">
                                    <!-- Schedule Heading -->
                                    <h4 class="schedule-heading">Day 2 - Sunday, 6th March</h4>
                                    <!-- Schedule Blocks -->
                                    <div class="schedule-blocks">
                                        <div class="schedule">
                                            <span class="time">01:00 AM</span>
                                            <span class="title">Night Tea/Coffee/Snacks & Gaming</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">08:00</span>
                                            <span class="title">Morning Tea/Coffee/Snacks</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">01:00 PM</span>
                                            <span class="title">Dinner</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">02:30 PM</span>
                                            <span class="title">Demo Session</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">05:00 PM</span>
                                            <span class="title">Tea/Coffee</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">05:30 PM</span>
                                            <span class="title">End-Developing</span>
                                        </div>
                                        <div class="schedule">
                                            <span class="time">07:00 PM</span>
                                            <span class="title">Prize Distrubation Ceremony</span>
                                        </div>
                                    </div>
                                    <!-- End: Schedule Blocks -->
                                </div>
                                <!-- End: Schedule Day Two -->
                            </div>
                        </div>
                        <!-- Row -->
                    </div>
                    <!-- End: Schedule Tables -->
                    <!-- Venue Details -->
                     <div class="venue-details section" data-section="true" id="venue-details">
                    <div class="venue-details">
                        <!-- Row -->
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14655.98024226453!2d72.643232!3d23.315938!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x43c0b91e63f6cb38!2sShankersinh+Vaghela+Bapu+Institute+of+Technology!5e0!3m2!1sen!2sus!4v1454653985457" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    <i class="icon icon-map-marker icon-left"></i>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <!-- Venue Address -->
                                <div class="venue-address">
                                    <!-- Title -->
                                    <h3 class="title">Venue</h3>
                                    <!-- Address -->
                                    <div class="address">
                                        College : Shankersinh Vaghela Bapu Institute of Technology
                                        Gandhinagar-Mansa Road, PO. Vasan, Gandhinagar  District, Gujarat, Pin:382650.
                                    </div>
                                    <!-- Map Link -->
                                     <a href="https://www.google.com/maps/place/Shankersinh+Vaghela+Bapu+Institute+of+Technology/@23.315938,72.643232,15z/data=!4m2!3m1!1s0x0:0x43c0b91e63f6cb38?hl=en-US" target="_blank" style="color:#fff">View on Google Maps</a>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- Row -->
                    </div>
                    <!-- End: Venue Details -->
                </div>
                <!-- End: Container -->
            </div>
            <!-- End: Schedule Section -->
            
            <!-- Footer -->
            <div class="footer">
                <!-- Container -->
                <div class="container">
                    <!-- Row -->
                    <div class="row">
                        
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h2 align="center">Designed with<img src="assets/images/heart.png">at <a href="https://play.google.com/store/apps/details?id=io.punch_it.punchit"><h2>Punchit</h2></a></h2>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <h2 align="center">For Sponsorship/Query : punchit.io2015@gmail.com <br>+91 9825460866</h2>
                        </div>
                    </div>
                    <!-- End: Row -->
                </div>
                <!-- End: Container -->
            </div>
            <!-- End: Footer -->
        </div>
        <!-- End: Main -->
    </div>
    <!-- End: Site -->
    <div class="overlay"></div>
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="assets/javascripts/master.js"></script>
</body>
</html>
