<!DOCTYPE html>
  <html ng-app="app">
    <head ng-controller="share">
      <title>Punchit.io</title>
      <!--Import Google Icon Font-->
      <meta charset="UTF-8">
      <meta name="description" content="{{SinglePost.Title | string()}}">
      <meta name="Punchit.io">
      <meta property="og:type"               content="article" />
      <meta property="og:title"              content="{{SinglePost.Title | string()}}" />
      <meta property="og:image" content="{{SinglePost.Image1.url | string()}}"/>
      <meta property="og:image" content="{{SinglePost.Image2.url | string()}}"/>
 

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="/css/style.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body cz-shortcut-listen="true" ng-controller="share">
      <!--Import jQuery before materialize.js-->
      <script src="/js/jquery-2.1.1.min.js" type="text/javascript"></script>
      <script type="text/javascript" src="/js/materialize.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script type="text/javascript" src="/js/app.js"></script>
      <script type="text/javascript" src="/js/controllers.js"></script>
      <script type="text/javascript" src="/js/factory.js"></script>
      <script src="https://www.parsecdn.com/js/parse-1.6.12.min.js"></script>
      <script src="http://js.pusher.com/3.0/pusher.min.js"></script>

   <div class="section card col l8 s12" style="width:{a width a};" id="main_card">
    <div class="card-content content">
      <div class="row">
          <div class="col s12">
     <center class="row">
      <img class="circle responsive-img col s6" ng-src="{a SinglePost.get('By').get('ProfilePicture').url() a}" style="height: 50px;width:74px"/>

        <span class="col s6" style="margin-top:15px;">
          <a href="/Profile?id={a SinglePost.get('By').id a}" style="color:red;float:left">{a SinglePost.get('By').get('Ninja_name') a}</a>
        </span>

        <span style="float:right;color:grey;margin-top:15px;margin-right:1%;" class="s10">
          {a SinglePost.get('TimeStamp') a}
        </span>
     </center>

         </div>

      <!-- Post Question -->
      <div style="margin-top:1%;" class="col s12">
     <p style="color:#989489;font-size:18px;text-align:left;margin-left:1%;">{{SinglePost.Title | string()}}</p>

      </div>
    </div>
        </div>

        <!-- Post images -->
  <div class="card-image" style="margin-left: 1%; margin-top:-2%;">
    <div class="row">

      <div class="col  waves-effect waves-light" style="margin-left:3%; border:1px solid #989489;float:left;margin-right:2%;width:45%;padding:10px;height:300px;background-image:url('/images/FinalBackground2.png');">
          <a><img class="responsive-img" src="{{SinglePost.Image1.url | string()}}" style="width: 100%;height: 100%;object-fit: contain; max-height: 100%;"></a>
      </div>
        <div class="col waves-effect waves-light" style="margin-left:1%;border:1px solid #989489;width:45%;padding:10px;height:300px;background-image:url('/images/FinalBackground2.png');">
            <a><img class="responsive-img" src="{{SinglePost.Image2.url | string()}}" style="width: 100%;height: 100%;object-fit: contain; max-height:100%;"></a>
        </div>

  </div>
       </div>
    <div class="card-content" style="margin-top:-5%;">
          <div class="row">
              <div class="col s6">
                  <p style="text-align:center;font-size:100%;color:#ff4545">{{SinglePost.Image1Title | string()}}</p>
                  <div style="background-color:#ff4545;color: #ff4545;height:1px;"><hr noshade="noshade" style="border:0px"/></div>
                  <div style="border:1px;"><p style="text-align:center;font-size:100%;color:red;padding-top:1%">{{SinglePost.Punchers1 | length}}</p></div>
              </div>
              <div class="col s6">
                  <p style="text-align:center;font-size:100%;color:#ff4545">{{SinglePost.Image2Title | string()}}</p>
                  <div style="background-color:#ff4545;color:#ff4545;height:1px;"><hr noshade="noshade" style="border:0px"/></div>
                  <center style="font-size:100%;color:#ff4545;padding-top:1%"><div style="width:15%;">{{SinglePost.Punchers2 | length}}</div></center>
              </div>

          </div>
    </div>
  
    <!-- share comment icons -->
    <!-- <div class="row">
      <div class="col s2 l1">
        <a><img src="images/share.png" style="margin-left:7px;height:inherit;width:70px;" id="share"></a>
      </div>
      <div class="col s2 l1">
        <a href="" class="modal-trigger"><img src="images/comment.png" style="height:inherit;width:70px;margin-left:10px;" id="comment" ng-click="openComment($index)"></a>
      </div>
    </div> -->
        </div>
        <a href="https://play.google.com/store/apps/details?id=io.punch_it.punchit" style="cursor:pointer;"><img src="https://www.woodmans-food.com/wp-content/uploads/GooglePlay1.png" width="20%" style="margin-top:2%;"></a>
  </center>
</body>
  <script>
  $(function(){
    $(".button-collapse").sideNav();
  });
  </script>
</html>
